
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @{Html.RenderAction("Index2", "account", new {@id = 1 });}
</div>
<div>
    @{Html.RenderAction("Index1", "account");}
</div>
<div>
    @{Html.RenderAction("Index3", "account", new { @id = "abc" });}
</div>

